<mat-toolbar>
  <button mat-icon-button aria-label="icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Pokedex</span>
  <span class="spacer"></span>
  <app-search (textChangeEvent)="onSearch($event)"></app-search>
  <span class="spacer"></span>
  <div *ngIf="loggedIn; else elseBlock">
    <button mat-raised-button aria-label="button">
      My team
    </button>
    <button mat-button aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <ng-template #elseBlock>
    <button mat-raised-button aria-label="button" routerLink='/pokemons/login'>
      Login
    </button>
  </ng-template>
</mat-toolbar>
