<mat-card *ngIf="pokemon">
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile>
      <div>
        <img mat-card-lg-image src="assets/img/official-artwork/{{pokemon.id}}.png" alt="{{pokemon.name}}" />
        <div class="centerText">No. {{ pokemon.id | number: '3.0'}} </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item>
          {{pokemon.name}}
           <button mat-icon-button (click)="audio.play()" >
          <mat-icon>play_circle_outline</mat-icon>
          </button>
          <audio autoplay src="assets/audio/{{pokemon.id}}.mp3" #audio></audio>
      </mat-list-item>
        <mat-list-item>
          <mat-chip-list aria-label="Types">
            <mat-chip *ngFor="let type of pokemon.types">{{type}}</mat-chip>
          </mat-chip-list>
        </mat-list-item>
        <mat-list-item>Taille: {{pokemon.height | number: '1.1'}} m</mat-list-item>
        <mat-list-item>Poids: {{pokemon.weight | number: '1.1'}} kg</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      {{pokemon.description}}
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<button mat-raised-button routerLink="..">Back</button>
